In [1]:
import pandas as pd

In [3]:
student_data = pd.read_csv('Resources\students_complete.csv')
student_data.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [ ]:
student_names = student_data['student_name'].tolist()
student_names

In [6]:
# Grabbing all the student names that need to be fixed.
students_to_fix = []

for name in student_names:
    if len(name.split()) >= 3:
        students_to_fix.append(name)

len(students_to_fix)

1531

In [12]:
# Finding all the name prefixes
prefixes = []
for name in students_to_fix:
    if len(name.split()[0]) <= 4:
        if name.split()[0] not in prefixes:
            prefixes.append(name.split()[0])
        else:
            pass
print(prefixes)

['Adam', 'Amy', 'Anna', 'Anne', 'Carl', 'Chad', 'Cody', 'Cory', 'Dale', 'Dana', 'Dawn', 'Dr.', 'Emma', 'Eric', 'Erik', 'Erin', 'Gail', 'Gary', 'Gina', 'Greg', 'Ian', 'Jill', 'Jodi', 'Joe', 'John', 'Jon', 'Jose', 'Judy', 'Kara', 'Kari', 'Kim', 'Kyle', 'Leah', 'Lisa', 'Lori', 'Luke', 'Lynn', 'Marc', 'Mark', 'Mary', 'Mike', 'Miss', 'Mr.', 'Mrs.', 'Ms.', 'Noah', 'Omar', 'Paul', 'Ruth', 'Ryan', 'Sara', 'Sean', 'Seth', 'Tara', 'Tina', 'Todd', 'Toni', 'Tony', 'Troy']

In [14]:
suffixes = []
for name in students_to_fix:
    if len(name.split()[-1]) <= 3:
        if name.split()[-1] not in suffixes:
            suffixes.append(name.split()[-1])
        else:
            pass
print(suffixes)

['MD', 'III', 'DVM', 'DDS', 'II', 'PhD', 'Lee', 'Jr.', 'IV', 'Cox', 'Roy', 'Day', 'V', 'Kim', 'Li']